* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

button:focus {
    outline: none;
}

#backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
}

#backdrop.visible {
    display: block;
    pointer-events: all;
}

header {
    width: 100%;
    height: 4em;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: lightgray;
}

header button {
    background-color: darkorange;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    text-transform: uppercase;
}

header button:hover {
    background-color: white;
    color: darkorange;
}

main {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    width: 50%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.card p {
    font-size: 1.5em;
}

.modal {
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 80%;
    top: 20vh;
    left: 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    display: none;
}

.modal.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}

.modal__content {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.modal__actions {
    padding-right: 2em;
    padding: 2em;
    display: flex;
    justify-content: flex-end;
}

#cancelMovieAdd {
    all: unset;
    color: blue;
    text-decoration: underline;
    letter-spacing: 1.2px;
    margin-right: 1em;
    cursor: pointer;
}

#confirmMovieAdd {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    text-transform: uppercase;
}

#confirmMovieAdd:hover {
    background-color: darkorange;
}

label {
    font-weight: bold;
    margin: 0.5rem 0;
    color: #464646;
}

input,
textarea {
    font: inherit;
    border: 1px solid #ccc;
    padding: 0.4rem 0.2rem;
    color: #383838;
}

input:focus,
textarea:focus {
    outline: none;
    background: #fff1c4;
}
#task-list {
    display: flex;
    justify-content: center;
}
.newTask {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    background-color: lightblue;
    padding: 1em;
}

@keyframes fade-slide-in {
    from {
        transform: translateY(-5rem);
    }
    to {
        transform: translateY(0);
    }
}
